html, body{
    background: linear-gradient(rgb(25, 30, 100), rgb(10, 15, 75));
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background: rgb(4, 4, 48);
    margin: 5px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 10px;
}

footer{
    margin-top: auto;
    padding: 10px;
    background-color: rebeccapurple;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

li{
    padding: 3px;
    display: inline-block;
    margin: auto;
    color: white;
}

.btn a{
    border: 1px solid white;
}

a{
    text-decoration: none;
    color: inherit;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover{
    text-decoration: underline;
    background: gray
}

.welcome{
    border: 1px solid white;
    border-style: solid;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.welcome section{  
    width: 33%;
    text-align: center;
}

.logo a{
    background-image: url("VersoZverys.png");
    background-size: 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    padding: 0px;
    display: inline-block;
    text-indent: -999999999px;
}

.contact{
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.contact section{
    margin: auto;
    text-align: center;
}

.pictures{
    display: flex;
    margin: auto;
}
.pictures img{
    border-radius: 30px;
    margin: 10px;
}
